@import "tailwindcss";

.swiper-button-prev{
    background-color: white !important;
    box-shadow: 0px 1px 1px gray;
    border-radius: 50%;
    padding: 10px;
}

.swiper-button-next{
  background-color: white !important;
  box-shadow: 0px 1px 1px gray;
    border-radius: 50%;
    padding: 10px;
}